# Python
.venv/
__pycache__/
*.pyc

# Hugo generated output
site/public/
site/resources/

# OS clutter
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Generated data output
site/assets/data/latest.json

# Terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.*